<!DOCTYPE html>
<html ng-app="MuseumApp">
<head>
  <meta charset="UTF-8">
  <title>The Metropolitan Museum of Art</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/exhibitController.js"></script>
  <script src="js/generalInfoController.js"></script>
</head>

<body>
  <h1> The Metropolitan Museum of Art </h1>
  <hr>
  <section ng-controller="ExhibitController">
    <h4> Exhibit: </h4>
    <img ng-src="{{ image }}" width="{{ width }}" alt="{{ author }}">
    <h4> {{ title }} </h4>
    <h4> {{ author }} </h4>
  </section>
  <hr>

  <section ng-controller="GeneralInfoController">
    <h4> General Info </h4>
    <h5> Hours: </h5>
    <ul>
      <li ng-repeat="(key, value) in hours">
        <strong>{{ key }} : </strong> {{ value }}
      </li>
    </ul>
    <h5> Suggested Admission: </h5>
    <ul>
      <li ng-repeat="(key, value) in admission">
        <strong>{{ key }} : </strong> {{ value }}
      </li>
    </ul>
    <hr>
  </section>
</body>

</html>